[Unit]
Description=SPEECH_CRON_CONVERSION
After=network.target
StartLimitIntervalSec=0

[Service]
#User=www-data
#Group=www-data
Type=simple
WorkingDirectory=/home/apps/speech/nodejs_server/middleware
ExecStart=/usr/local/bin/node /home/apps/speech/nodejs_server/middleware/cron_conversion.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
