.App{
    background-color: #f3f6f9;
    /* display: inline-block; */
}
body{
    /* display: inline-block; */
    /* min-width: 0; */
    background-color: #f3f6f9;

}
/* html{
    display: inline-block;

} */